html{
    background-image: url( https://t3.ftcdn.net/jpg/04/45/81/70/360_F_445817089_rtbSaMTaH9BbKu3rRyDZMfYulMFmeUAb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: oblique;
    font-size:large;
}
header{
    text-align: center;
    background-image:url(/);
    border: 80%;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    align-items: center;
    list-style: none;

}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.info{
    text-align: center;
}
table{
   margin: auto;
   
}
body{
    background-image:img()
}
